// colors
$darkGreen: #132B1D;
$green: #74b49b;
$lightGreen: #A4BCA9;
$veryLightGreen: #f4f9f4;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;
$lightBlue: #A4DBD4;
$brown: #442317;
$lightPurple: #B1B6DD;
$cuteBlue: #2B67B6;
$veryLightPurple: #e3e4f15b;


// font family
$fontFamily: "Andada Pro", serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);